{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo.png' %}" type="image/icon type">
    <title>{{ train.name }} details</title>
</head>
<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #001423a5;
        color: #fff773;
        border-radius: 13px;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.555);
    }

    main{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .map{
        margin: 10%;
    }
</style>
<body>
    <header>
        <a href="http://127.0.0.1:8000/vtart/"><img class="logo" src="{% static 'logo.png' %}" alt="logo" height="60"></a>
        <h1>{{ train.name }}</h1>
        <img src="/static/{{ train.logo }}" height="60" class="logo">
    </header>
    <main>
        <img src="/static/{{ train.submap }}" height="200" class="map">
    </main>
</body>
</html>